.App {
  text-align: center;
}

img{

  border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 1090px;
    display: block;
    margin: 1.3em auto;
    max-width: 100px;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

button{
  background: thistle;
}

header{
  padding: 0px 0px 0px 0px;
  margin: 0%;
  background-color: rgb(62, 120, 247);
}

body{

  background-color: beige;
  padding: 10px 60px 20px 60px;
  
}

.card{
  border: 1px double;
  border-width: 3px;
  border-color: black;
}

.post{
  border: 1px double;
  border-width: 3px;
  border-color: black;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
